.container-absent-total {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    width: 100%;

}

.btn-home-total {
    color: rgb(8, 195, 241);
    font-size: 20px;
}

.table-title-total {
    color: rgb(10, 15, 15);
    font-size: 30px;
    margin: 20px 0 20px 10px;
}

.sub-tb-total {
    font-size: 25px;
    margin-left: 10px;
    color: rgb(42, 165, 52);
}


.tb-container-total {
    width: 99%;
}

th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #3e52c4;
    color: white;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}

td {
    text-align: center;
    color: black;
    background-color: rgb(177, 168, 168);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    padding: 8px;
}