.container-verify {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.green_btn-verify {
    border: none;
    outline: none;
    padding: 12px 0;
    background-color: #4169e1;
    border-radius: 20px;
    width: 180px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.error-verify {
    background-color: #ff0000;
}