.container-root-sendmail {
    height: 840px;
    background-image: url(https://img4.thuthuatphanmem.vn/uploads/2020/06/05/hinh-nen-cong-nghe-don-gian-ma-dep_103228946.jpg);
}

.container-sendmail {
    width: 40%;
    margin: auto;
    border: 1px solid black;
    margin-top: 100px;
    background-color: rgb(177, 168, 168);
    color: black;

}

.container-sendmail>h1 {
    font-size: 25px;
    margin: 10px;
}

.content-send {
    margin-left: 20px;
    font-size: 20px;
    display: flex;
    margin: 20px 0 20px 20px;
}

.container-sendmail>.btn-group {
    margin-left: 10px;
    width: 20%;
    display: inline-flex;
}

.btn-danger:hover {
    background-color: red;
    color: white;
    font-size: 17px;
}

.btn-danger {
    padding: 5px;
    margin-left: 10px;
    margin-top: 30px;
    font-size: 15px;
    width: 100px;
    margin: auto;
}

.send-title {
    margin-right: 20px;
}